# Binaries
a.out
bomberman
unit_tests

# Compilation
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
cmake-build-debug

# Objects
*.o

# Tests
*.gcda
*.gcno

# Resources
resources/

# Jetbrains
compile_commands.json
.idea/

# Visual Studio Code
.vscode/