# Binaries
a.out
arcade
unit_tests

# Objects
*.o

# Tests
*.gcda
*.gcno

# Resources
resources/

# ClangFormat
.clang-format

# Jetbrains
compile_commands.json
.idea/

# Visual Studio Code
.vscode/

# Libraries
lib_arcade_*.so